*{
    box-sizing: border-box;
}

.headshape{

    font-family: 'Fira Code' monospace;
    color: rgb(0, 255, 0);
    z-index: 1;
    
    
    
}
header h1 {
    text-align: left;
    font-size: 20px;
    color: rgb(0, 255, 0);
    padding: 5px;
    font-family: 'Fira Code' monospace;
}

p{
color: rgb(0, 255, 0);
font-size: 20px;
text-align: left;
font-family: 'Fira Code' monospace;
text-align: justify;

line-height: 1;
}

.bodyshape {
    color: rgb(0, 255, 0);
    font-size: 20px;
    padding: 50px;
    font-family: 'Fira Code' monospace;
}
.go-to-codes {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    background-color:rgba(0,0,0, 0.5);
    color:rgb(0, 255, 0); 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}
.go-to-codes:hover {
    background-color: #191a1b; 
    scale: 1.05;
}
.cpp{
    background-color: black;
    color: white;
    font-size: smaller;
}
